<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqI4kJPoIni36_cCGzhvy06egikoyUeDk</string>
	<key>GCM_SENDER_ID</key>
	<string>138568097083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gemicatesTest</string>
	<key>PROJECT_ID</key>
	<string>gemicates-test</string>
	<key>STORAGE_BUCKET</key>
	<string>gemicates-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138568097083:ios:e8a6e226d37f2f3ad1ab1e</string>
</dict>
</plist>